Repository justedlev/bridgewayhub, changes with the labels that .github/labeler.yml gives for each.
All labels: area: java, area: ci/cd, area: config, area: spring-boot, area: docker, type: tests, type: docs

fix(gha): update `release-please-config.json`
  .github/release-please-config.json
Labels: none

fix(gha): update `docker-image.yml`
  .github/workflows/docker-image.yml
Labels: area: ci/cd, area: config

fix(gha): remove `release-type` from `release-please-config.json`
  .github/release-please-config.json
Labels: none

refactor: update `release-please-config.json`
  .github/release-please-config.json
Labels: none

fix(gha): update `release-please-config.json`
  .github/release-please-config.json
Labels: none

fix(gha): update `release-please-manifest.json`
  .github/release-please-manifest.json
Labels: none

fix(gha): update `release-please-config.json`
  .github/release-please-config.json
Labels: none

fix(gha): update `release-please-config.json`
  .github/release-please-config.json
Labels: none

fix(gha): update `release-please-config.json`
  .github/release-please-config.json
Labels: none

fix(gha): update `release-please-config.json`
  .github/release-please-config.json
Labels: none

fix(gha): update `release-please-config.json`
  .github/release-please-config.json
Labels: none

fix(gha): update `release-please-config.json`
  .github/release-please-config.json
Labels: none

fix(gha): update `release-please-config.json`
  .github/release-please-config.json
Labels: none

fix(gha): update `release-please-config.json`
  .github/release-please-config.json
Labels: none

fix(gha): update `release-please.yml`
  .github/workflows/release-please.yml
Labels: area: ci/cd, area: config

fix(gha): update `release-please.yml`
  .github/workflows/release-please.yml
Labels: area: ci/cd, area: config

ci(gha): update `release-please-config.json`
  .github/release-please-config.json
Labels: none

ci(gha): update `release-please.yml`
  .github/workflows/release-please.yml
Labels: area: ci/cd, area: config

ci(gha): update `docker-image.yml`
  .github/workflows/docker-image.yml
Labels: area: ci/cd, area: config

ci(gha): update `codeql.yml`
  .github/workflows/codeql.yml
Labels: area: ci/cd, area: config

refactor: rename `BridgeWayHubApplicationTests.java`
  src/test/java/io/justedlev/msrv/bridgeway/BridgeWayHubApplicationTests.java
Labels: area: java, type: tests

test: add `application.yml`
  src/test/resources/application.yml
Labels: area: config, area: spring-boot, type: tests

chore(docker): replace deprecated layertools jarmode with tools
  docker/Dockerfile
Labels: area: docker

fix(gha): correct configuration for `kentaro-m/auto-assign-action`
  .github/auto_assign.yml
Labels: area: config

ci(gha): fix target branch name
  .github/dependabot.yml
Labels: area: config

ci(gha): add labels per package ecosystem
  .github/dependabot.yml
Labels: area: config

ci(gha): remove `contact_links`
  .github/ISSUE_TEMPLATE/config.yml
Labels: area: config

fix: normalize line endings using `.gitattributes`
  .gitattributes
Labels: none

.github/labeler.yml:

"area: java":
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.java'

"area: ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'

"area: config":
  - changed-files:
    - any-glob-to-any-file:
      - '**/config/**'
      - '**/*.yml'
      - '**/*.properties'

"area: spring-boot":
  - changed-files:
    - any-glob-to-any-file:
      - '**/application.yml'
      - '**/application.properties'
      - '**/src/main/java/**/config/**'
      - '**/src/main/java/**/controller/**'
      - '**/src/main/resources/**'

"area: docker":
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile'
      - '**/Dockerfile'
      - 'docker-compose.yml'
      - '**/docker-compose.yml'
      - 'compose.yml'
      - '**/compose.yml'
      - '**/docker/**'

"type: tests":
  - changed-files:
    - any-glob-to-any-file:
      - '**/src/test/**'
      - '**/*Test.java'
      - '**/*Tests.java'

"type: docs":
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/README.md'
      - '**/docs/**'
